nav.menu
  div.submenu
    div.submenu__pic
      i.fas.fa-bars
    div.submenu__text menu
  div.nav__wrapper
    ul.menu__list
      li.menu__list-item.menu__list-item--active
        a(href="#") home
        ul.list-item__submenu
          li
            a(href="#") Home No Sidebar
      li.menu__list-item
        a(href="#") pages
        ul.list-item__submenu
          li
            a(href="#") Testimonial
            a(href="#") Gallery
            a(href="#") Typography Page
            a(href="#") Grid Page No Sidebar
            a(href="#") Sidebar Left
            a(href="#") Sidebar Right
            a(href="#") No Sidebar
            a(href="#") 404 Page
      li.menu__list-item
        a(href="#") rooms
      li.menu__list-item
        a(href="#") blog
      li.menu__list-item
        a(href="#") activities
      li.menu__list-item
        a(href="#") contacts us
      li.menu__list-item
        a(href="#") blocks