div.social
  div.social__wrapper
    div.social__titile
      a(href="#") Lake George District, Adirondack, NY, USA
    div.social__icons
      a(href="#").fab.fa-facebook-f
      a(href="#").fab.fa-instagram
      a(href="#").fab.fa-twitter
      a(href="#").fab.fa-youtube


