<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Mountainview
    link(rel="stylesheet" href="main.css")
    link(href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:400,500,700&display=swap" rel="stylesheet")
  body
    div.main
      div.main-wrapper
        include blocks/header/_label.pug
        include blocks/header/_social.pug
        include blocks/header/_nav.pug
        script(src="https://kit.fontawesome.com/98b1c6e773.js" crossorigin="anonymous")