.submenu
  display: none
  justify-content: center
  align-items: center
  color: #fff
  font-size: 14px
  line-height: 1
  text-transform: uppercase
  font-family: Ubuntu,sans-serif
  font-weight: 700
  text-decoration: none
  padding: 30px 0
  & .submenu__pic
    margin-right: 8px

.menu
  margin-right: -60px
  margin-left: -60px
  display: flex
  justify-content: flex-end
  background: #292929
  padding-right: 60px
  padding-left: 60px

.nav__wrapper
  width: 57.307%
  display: flex
  justify-content: space-between
  align-items: center
  margin-left: 40px
  margin-right: 40px

.menu__list
  margin: 0
  padding: 0
  list-style: none
  width: 100%
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap

.menu__list-item
  position: relative
  &::after
    position: absolute
    content: ""
    background-color: #7db900
    height: 2px
    width: 0%
    left: 0
    bottom: 0
    transition: all .3s
  &:hover::after
    width: 100%
  a
    display: flex
    align-items: center
    padding: 28px 15px
    text-decoration: none
    color: #fff
    font-size: 14px
    text-transform: uppercase
    font-family: Ubuntu,sans-serif
    font-weight: 500
    line-height: 1
    white-space: nowrap
  &:hover > .list-item__submenu
    display: block

.menu__list-item--active
  &::after
    position: absolute
    content: ""
    background-color: #7db900
    height: 2px
    width: 100%
    left: 0
    bottom: 0

.list-item__submenu
  display: none
  position: absolute
  top: 70px
  left: 0
  list-style: none
  margin: 0
  width: 184px
  padding: 10px 0
  background: #292929
  white-space: nowrap
  a
    font-family: Ubuntu,sans-serif
    text-transform: none
    padding: 8px 15px
    font-weight: 400
    line-height: 1.4
    &:hover
      color: #7db900

.menu__show
  display: none

.submenu__checkbox
  position: relative

.submenu__checkbox::after
  content: ""
  position: absolute
  top: 2px
  left: -20px
  width: 12px
  height: 2px
  background-color: #fff
  box-shadow: 0px 4px 0px #fff, 0px 8px 0px #fff

.submenu__checkbox::before
  display: none
  content: ""
  position: absolute
  top: 5px
  left: -20px
  width: 13px
  height: 3px
  transform: rotate(-45deg)
  background-color: #fff
  box-shadow: none
  border-radius: 30%

.menu__show:checked ~ .nav__wrapper
  display: flex

.menu__show:checked ~ .submenu .submenu__checkbox::after
  top: 5px
  left: -20px
  width: 13px
  height: 3px
  transform: rotate(45deg)
  background-color: #fff
  box-shadow: none
  border-radius: 30%
.menu__show:checked ~ .submenu .submenu__checkbox::before
  display: block

.menu__list-item
  & label
    display: none
  & input
    display: none

@media screen and (max-width: 1237px)
  .nav__wrapper
    margin-left: 0
    margin-right: 0
    width: 61.307%
@media screen and (max-width: 1095px)
  .nav__wrapper
    width: 68.6%

@media screen and (max-width: 992px)
  .menu
    margin-left: -20px
    margin-right: -20px
    padding-right: 20px
    padding-left: 20px
    flex-direction: column
    justify-content: center

  .submenu
    display: flex
    width: 100%

  .nav__wrapper
    display: none
    margin-right: 5px
    margin-left: 5px
    width: auto

  .menu__list
    flex-direction: column
    align-items: start

  .menu__list-item
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    width: 100%
    padding-right: 15px
    &:hover::after
      width: 0
    &:hover > .list-item__submenu
      display: none
    & label
      display: inline-block
      font-size: 18px
      color: #fff
      padding-left: 15px
      padding-right: 15px
    a
      padding: 18px 15px
      flex-grow: 1
      font-size: 16px
    & input:checked ~ .list-item__submenu
      display: block
      position: static
  .list-item__submenu
    width: 100%
    padding-left: 16px
    font-weight: normal
  .menu__list-item--active
    &::after
      display: none